<!DOCTYPE html>
<html>
<head>
    <title>Sunway eMall Beta Online Store - Purchase Confirmation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    
    <style>
body {
    background-image: url('https://image-tc.galaxy.tf/wijpeg-1lf3mhli9cwh2v4y6ox2nbgx0/sunway-city-overview-1900x1060.jpg?width=2000');
    background-size: cover;
}
    </style>
    
<body>

    <div class="container">

        <h1>Purchase Confirmation</h1>

        <div class="alert alert-success">
            <p><strong>Product Name:</strong> {{ product_name }}</p>
            <p><strong>Price:</strong> ${{ product_price }}</p>
            <p><strong>Address:</strong> {{ address }}</p>
            <p><strong>Payment Method:</strong> {{ payment_method }}</p>
            <p><strong>Thank you for your purchase!</strong></p>
        </div>

    </div>

</body>
</html>
